config hdd_led 'bay1'
    option enabled '1'
    option device 'sda'
    option led_file '/sys/class/leds/ugreen_disk1/color'
    option interval '100'
    option idle_color '#000028'     # Soft Deep Blue when sitting idle
    option act_color '#00FF00'      # Flash Green on active read/write transfers
    option fault_color '#FF0000'    # Static Solid Red if smartctl health fails
    option smart_interval '600'     # Check disk health metrics every 10 minutes

config hdd_led 'bay2'
    option enabled '1'
    option device 'sdb'
    option led_file '/sys/class/leds/ugreen_disk2/color'
    option interval '100'
    option idle_color '#000028'
    option act_color '#00FF00'
    option fault_color '#FF0000'
    option smart_interval '600'
